<div class="contain collect">
    <div class="collect-ul">
        <ul>
            <li ng-repeat="(key, value) in data" >
                <div  ui-sref="show({id:value.id})">
                    <img ng-src="{{value.imageUrl}}" alt="">
                    <div>
                        <h2>{{value.companyName}} <span>[{{value.cityName}}]</span> {{value.industryName}}&nbsp;&nbsp;{{value.scaleName}}</h2>
                        <p>{{value.salaryName}}</p>
                        <p>{{value.date}}</p>
                    </div>
                </div>

                    <img class="star" ng-src="{{star}}" ng-click="clickStar()">
               
            </li>
        </ul>
    </div>
</div>
